/* TODO */
body{
    text-align: center;
    margin-top: 100px;
    
}
button{
    padding: 15px;
    border-width: 10px;
    border-radius: 20px;
    background-color: rgb(251, 137, 236) ;
    color: aliceblue;
    border-color: rgb(193, 37, 180);
}
button:hover{
    background-color: rgb(244, 11, 135);
    border-color: rgb(102, 5, 70);
}